body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
}
h1 {
    font-size: 32px;
    text-align: center;
}
.container {
    width: 700px;
    margin: 0 auto;
}
.chart {
    margin: 60px auto;
    width: 600px;
    padding: 4px;
    border: 2px solid #19331d;
    border-radius: 2px;
}
.chart div {
    font-size: 16px;
    text-align: right;
    color: #fff;
    background-color: #237531;
    padding: 6px;
    margin: 4px 0;
}